.price {
	padding-top: 60px;
	&__wrapper {
		margin-top: 60px;
		padding: 0 60px; //--просто зліва і справа відступ на 60пх
		display: grid;
		grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px); //--там де 3 це стовбчікі а де 2 це колонкі
		grid-auto-rows: minmax(45px, auto);
		row-gap: 15px;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		display: grid;
		grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto); //--auto використовується для того, щоб автоматично розтянути ціну , щоб вона гано виглядала,і тому нічього не ламається якщо цінник навіть буде бліьшим і так само з назвами просто ширину завжди auto
		row-gap: 5px;
		padding-left: 25px;
		&:before {
			content: '';
			width: 15px;
			height: 15px;
			background-color: $main-color;
			border-radius: 100%;
			position: absolute;
			top: 5px;
		}
	}
	&__type, &__count {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__count {
        justify-self: end; //--вирівнювання самого себе по горизонталі в кінець блока
    }
    &__descr {
        grid-column: 1 / 3;
        font-size: 12px;
        line-height: 18px;
    }
	
}